<!DOCTYPE html>
<html ng-app='app'>

<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js">
    </script>
    <script src="app.js"></script>
</head>

<body ng-controller="MainController">
    <h1>School</h1>
    <button ng-click="clickTeachers()">Find all teachers</button>
    <button ng-click="clickStudents()">Find all students</button>
    <button>Find all classes</button>
    <input></input>
    <div ng-repeat="teacher in teachers">
        <div>{{ teacher._id }}</div>
        <div>{{ teacher.name }}</div>
        <div>{{ teacher.email }}</div>
    </div>
    <div ng-repeat="student in students">
        <div>{{ student._id }}</div>
        <div>{{ student.name }}</div>
        <div>{{ student.email }}</div>
    </div>
     <div ng-repeat="class in classes">
        <div>{{ classes._id }}</div>
        <div>{{ classes.name }}</div>
        <div>{{ classes.email }}</div>
    </div>
</body>
</html>